<%- include('basics') -%>
<%- include('css_pack') -%>

<link type="text/css" rel="stylesheet" href="/styles/index-mc.css">

</head>
<body>
    <%- include('header') -%>

    <main>
        <div class="name-box"><%= data.ownerName %></div>
        <div class="info-box"><%= data.ownerInfo %></div>
    </main>
    <script src="/scripts/header-design-manager.js" ></script>
</body>
</html>