<li>

    <h1>Work Experience</h1>
    <ul>
        <% data.workExpList.forEach((item, index) => { %>
        <li class="work-edu-c content-b">
            <div>
                <div>
                    <label class="lab-title">Position Name</label>
                    <label class="lab-cont"><%= item.position_name %></label>
                </div>
                <div>
                    <label class="lab-title">Business Name</label>
                    <label class="lab-cont"><%= item.business_name %></label>
                </div>
                <div>
                    <label class="lab-title">Date</label>
                    <label class="lab-cont"><%= item.date %></label>
                </div>
                <div>
                    <label class="lab-title">3D File</label>
                    <label class="lab-cont"><%= item.d3_model_name %></label>
                </div>
                <div>
                    <label class="lab-title">About</label>
                    <label class="lab-cont"><%= item.about %></label>
                </div>
            </div>
            <div class="edit-buttons">
                <a href="/admin/work_exp_edit/<%= item._id %>" id="edit-work" class="media-icon"><img src="/media/images/icons/Edit.svg" alt="Edit"></a>
                <a href="/admin/work_exp_del/<%= item._id %>" id="del-work" class="media-icon"><img src="/media/images/icons/Delete.svg" alt="Delete"></a>
            </div>
        </li>
        <% }); %>
    </ul>
    <div class="item-content"><a href="/admin/work_exp_new" id="add-work" class="plus-item"><img src="/media/images/icons/Plus.svg" alt="Add item"></a></div>

</li>